body {
    background-image: url(ImageCss/jojofond.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    display: inline-flex;
    margin: 0px;
    padding: 0px;
}

li{
    vertical-align: middle;
    display: inline;
}

.menu2 {
    background-color: black;
    align-items: center;
}

span {

    position: center;
}

button{
    color: rgb(255, 255, 255);
    font-size: 1em;
    line-height: 3.125em;
    text-transform: uppercase;
    padding: 0px 35px;
    cursor: pointer;
    outline-offset: 0px;
    border: medium;
    margin: 0px;
    background: none;
    min-height: 100%
}

a{
    color: aliceblue;
    
}


.menu{
    position: relative;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    vertical-align: middle;
}

.logo{
    align-items: baseline;
}



h1{
    text-align: center;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    font-style: normal;
    color: black;
}

.p1{
    margin-top: 400px;

}


.pic{
    position:center;
    list-style-type: none;
    margin: 70px;
}

.picdiv{
    justify-content: center;
    display: flex;
    align-items: center;
}

h1{
    text-decoration: underline;
    color: blueviolet;  
}

.photolien{
    border:1px;
    border-color: purple;
}

.polnareff{
    margin-top: 5%;
    width: 70%;

    background-color: pink;
}
